{% extends 'blog/base.html' %}
{% block content %}
<div class="movies">
    <script>
        const url = "https://yts-proxy.now.sh/list_movies.json";

        fetch(url, {
            method: 'GET',
            mode: 'cors',
            credentials: 'same-origin'
        }).then((res) => {
            return res.json()
        }).then((json) => {
            console.log(json.data.movies)
            const movies = document.getElementById('movies')
            json.data.movies.forEach((movie) => {
                const movieCard = document.createElement('div')
                const title = document.createTextNode(movie.title)
                const image = document.createElement('img')
                image.src = movie.small_cover_image
                movieCard.appendChild(title)
                movieCard.appendChild(image)
                movies.appendChild(movieCard)

                movieCard.addEventListener('click', () => {
                    window.open(`http://127.0.0.1:8000/write/${title}`)
                })
            })
        })
    </script>
</div>
{% endblock %}