{% extends 'movie/base.html' %}
{% block content %}
<form method="POST" class="signup">
    <div class='alert'>{{error}}</div>
    {% csrf_token %}
    <div class="col">
        Username
        <input type="text" name="username" />
    </div>
    <div class="col">
        Password
        <input type="password" name="password" />
    </div>
    <button type="submit" class="submit btn btn-default">Login</button>
    <div style="text-align: center; margin-top: 50px;">Don't you have an account? <a href="/signup">Go to Signup</a>
    </div>
</form>
{% endblock %}