{% extends 'movie/base.html' %}
{% block content %}
<div id="movies"></div>

<script>
    const url = "https://yts-proxy.now.sh/list_movies.json";

    const loading = document.createElement('div')
    loading.innerText = "Loading..."
    const movies = document.getElementById('movies')
    loading.className = "loading"
    movies.appendChild(loading)

    fetch(url, {
        method: 'GET',
        mode: 'cors',
        credentials: 'same-origin'
    }).then((res) => {
        return res.json()
    }).then((json) => {
        movies.removeChild(loading)

        movies.className = 'movies'
        const reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi

        json.data.movies.forEach((movie) => {
            const movieCard = document.createElement('a')
            movieCard.className = "movieCard"

            const title = movie.title.replace(reg, '')
            const movieTitle = document.createElement('div')
            movieTitle.appendChild(document.createTextNode(title))
            movieTitle.className = "movieTitle"

            movieCard.href = `/posts/${title.replace(/ /g, '--')}`

            const movieImage = document.createElement('img')
            movieImage.className = "movieImage"
            movieImage.src = movie.medium_cover_image
            movieCard.appendChild(movieTitle)
            movieCard.appendChild(movieImage)
            movies.appendChild(movieCard)
        })
    })
</script>
{% endblock %}